{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.588e7e3c-0cb0-432f-95c6-8a641fe54ba5",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}