{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.f92d1548-ba66-4bdb-ba8d-a4bdb2f82661",
  "properties": {
    "maxIdleTime": {
      "name": "maxIdleTime",
      "value": 200000,
      "type": "java.lang.Integer"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "minThreads": {
      "name": "minThreads",
      "value": 10,
      "type": "java.lang.Integer"
    },
    ".type.acceptors": {
      "name": ".type.acceptors",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "maxThreads": {
      "name": "maxThreads",
      "value": 75,
      "type": "java.lang.Integer"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".type.port": {
      "name": ".type.port",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.minThreads": {
      "name": ".type.minThreads",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.maxThreads": {
      "name": ".type.maxThreads",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.headerBufferSize": {
      "name": ".type.headerBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "lowResourcesConnections": {
      "name": "lowResourcesConnections",
      "value": 0,
      "type": "java.lang.Long"
    },
    ".type.enableDNSLookup": {
      "name": ".type.enableDNSLookup",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.maxPostSize": {
      "name": ".type.maxPostSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".name": {
      "name": ".name",
      "value": "tibco.bwce.sample.binding.rest.BookStore.Books",
      "type": "java.lang.String"
    },
    "compression": {
      "name": "compression",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.disableDoTrace": {
      "name": ".type.disableDoTrace",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "maxSavePostSize": {
      "name": "maxSavePostSize",
      "value": 4096,
      "type": "java.lang.Integer"
    },
    "useDirectBuffers": {
      "name": "useDirectBuffers",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "host": {
      "name": "host",
      "value": "BW.HOST.NAME",
      "type": "java.lang.String"
    },
    ".type.useDirectBuffers": {
      "name": ".type.useDirectBuffers",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.compressableMimeTypes": {
      "name": ".type.compressableMimeTypes",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "maxPostSize": {
      "name": "maxPostSize",
      "value": 2097152,
      "type": "java.lang.Integer"
    },
    ".type.lowResourceMaxIdleTime": {
      "name": ".type.lowResourceMaxIdleTime",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.useSSL": {
      "name": ".type.useSSL",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.f92d1548-ba66-4bdb-ba8d-a4bdb2f82661",
      "type": "java.lang.String"
    },
    "useSSL": {
      "name": "useSSL",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "requestBufferSize": {
      "name": "requestBufferSize",
      "value": 8192,
      "type": "java.lang.Integer"
    },
    ".type.lowResourcesConnections": {
      "name": ".type.lowResourcesConnections",
      "value": "java.lang.Long",
      "type": "java.lang.String"
    },
    "port": {
      "name": "port",
      "value": "BW.CLOUD.PORT",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 97,
      "type": "java.lang.Long"
    },
    "lowResourceMaxIdleTime": {
      "name": "lowResourceMaxIdleTime",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".type.maxSavePostSize": {
      "name": ".type.maxSavePostSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "acceptQueueSize": {
      "name": "acceptQueueSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".type.maxIdleTime": {
      "name": ".type.maxIdleTime",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "lingerTime": {
      "name": "lingerTime",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    "headerBufferSize": {
      "name": "headerBufferSize",
      "value": 4096,
      "type": "java.lang.Integer"
    },
    "compressableMimeTypes": {
      "name": "compressableMimeTypes",
      "value": "text\/html,text\/xml,text\/plain",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "tibco.bwce.sample.binding.rest.BookStore",
      "type": "java.lang.String"
    },
    "useNonBlockingIOSockets": {
      "name": "useNonBlockingIOSockets",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".type.reverseProxyPort": {
      "name": ".type.reverseProxyPort",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "enableDNSLookup": {
      "name": "enableDNSLookup",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.acceptQueueSize": {
      "name": ".type.acceptQueueSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "host",
          "type": "java.lang.String"
        },
        {
          "value": "port",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    "disableDoTrace": {
      "name": "disableDoTrace",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "responseBufferSize": {
      "name": "responseBufferSize",
      "value": 24576,
      "type": "java.lang.Integer"
    },
    "reverseProxyPort": {
      "name": "reverseProxyPort",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.responseBufferSize": {
      "name": ".type.responseBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.host": {
      "name": ".type.host",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.useNonBlockingIOSockets": {
      "name": ".type.useNonBlockingIOSockets",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "acceptors": {
      "name": "acceptors",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.requestBufferSize": {
      "name": ".type.requestBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.compression": {
      "name": ".type.compression",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "tibco.bwce.sample.binding.rest.BookStore.application",
      "type": "java.lang.String"
    },
    ".type.lingerTime": {
      "name": ".type.lingerTime",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    }
  }
}